<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="shortcut icon" href="https://thinkingforest.org/assets/images/logos/icons/android-chrome-512x512.png" />
<link rel="apple-touch-icon" sizes="180x180" href="https://thinkingforest.org/assets/images/logos/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://thinkingforest.org/assets/images/logos/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://thinkingforest.org/assets/images/logos/icons/favicon-16x16.png">
<link rel="manifest" href="https://thinkingforest.org/assets/images/logos/icons/site.webmanifest">


<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet" type="text/css">


<!-- end custom head snippets -->
